/Build
/Build.bat
/META.yml
/META.json
/MYMETA.*
/_build
/blib
/FFI-Platypus-*
/.build
/config.log
/lib/FFI/Platypus.c
/include/ffi_platypus_config.h
/include/ffi_platypus_probe.h
/test*.c
*.o
*.obj
*.dll
*.so
*.bundle
*.tmp
*.core
core
/inc/probe/bigendian
/inc/probe/complex
/inc/probe/longdouble
/inc/probe/abi
/inc/probe/*.exe
